/* THEME VERT de base */

/* A9DA50 BASE  */
/* C8E980 CLAIR  */
/* A8C361 FONCE  */

a.product-name:hover{
  color: #A9DA50 !important;
}

header .nav a {
  color: #A9DA50 !important;
}

.header_user_info a.account, .header_user_info a.account.active,
.header_user_info a.login, .header_user_info a.login.active  {
  color: #FFF !important;
  background: #A9DA50 !important;
}
.header_user_info a.logout:before{
  color: #A9DA50 !important;
}

/* --------------------------------------------------------- CMS info block */ 
#cmsinfo_block em {
  background: #A9DA50 !important;
}

/* ----------------------------------------------------------- Product list */
@media (min-width: 1200px){
  ul.product_list .product-image-container .quick-view:hover {
    background: #A9DA50 !important;
  }
}
/* ------------------------------------------------------------------PAGINATION */
.top-pagination-content ul.pagination > li.active > a,
.top-pagination-content  ul.pagination > li.active > span,
.top-pagination-content  ul.pagination > li.active > span > span,
.top-pagination-content  ul.pagination > li.active > a:hover,
.top-pagination-content  ul.pagination > li.active > span:hover,
.top-pagination-content  ul.pagination > li.active > a:focus,
.top-pagination-content  ul.pagination > li.active > span:focus {
  background-color: #A9DA50 !important;
  border-color: #A8C361 !important;
}

.bottom-pagination-content ul.pagination > li.active > a,
.bottom-pagination-content  ul.pagination > li.active > span,
.bottom-pagination-content  ul.pagination > li.active > span > span,
.bottom-pagination-content  ul.pagination > li.active > a:hover,
.bottom-pagination-content  ul.pagination > li.active > span:hover,
.bottom-pagination-content  ul.pagination > li.active > a:focus,
.bottom-pagination-content  ul.pagination > li.active > span:focus {
  background-color: #A9DA50 !important;
  border-color: #A8C361 !important;
}
/* ----------------------------------------------------------- category */
.page-heading.product-listing .cat-name:before,
#subcategories ul li h5:before{
  color: #A9DA50 !important; 
}

/* ----------------------------------------------------------- panier/smartphone */
@media (max-width: 767px) { /* PETIT FORMAT tablette et phone */

  .shopping_cart > a:first-child { /*panier*/
    background: #A9DA50 !important;
  }
  #header .ajax_cart_quantity {
    color: #A9DA50 !important;
  }

}

#home-page-tabs > li.active a, #home-page-tabs > li a:hover {
  background: #A9DA50 !important;
}


/* ------------------------------------------------------------- BOUTONS */
.button.button-medium,
.button.button-medium:hover,
.cart_block .cart-buttons a#button_order_cart,
.list .button.ajax_add_to_cart_button,
.box-info-product button.exclusive,
.box-info-product .exclusive,
.box-info-product .exclusive:hover,
.button.button-medium.exclusive,
.button.button-medium.exclusive:hover {
  border-color: #A8C361 !important;
  background: #A9DA50 !important;
  background: -moz-linear-gradient(top, #A9DA50 0%, #C8E980 100%) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #A9DA50), color-stop(100%, #C8E980)) !important;
  background: -webkit-linear-gradient(top, #A9DA50 0%, #C8E980 100%) !important;
  background: -o-linear-gradient(top, #A9DA50 0%, #C8E980 100%) !important;
  background: -ms-linear-gradient(top, #A9DA50 0%, #C8E980 100%) !important;
  background: linear-gradient(top bottom, #A9DA50 0%, #C8E980 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A9DA50', endColorstr='#C8E980',GradientType=0 ) !important;
}

.cart_block .cart-buttons a#button_order_cart span,
.cart_block .cart-buttons a#button_order_cart:hover span,
.list .button.ajax_add_to_cart_button span,
.box-info-product button.exclusive span,
.box-info-product .exclusive span,
.button.button-medium span,
.button.button-medium.exclusive span,
.button.button-medium.exclusive:hover span{
  border: 1px solid #C8E980 !important;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.7)!important;
}


/* --------------------------------------------------- ORDER */
/* step */
ul.step li.step_current {
  background: #A9DA50 !important;
}
ul.step li.step_current span::after {
  border-left: 31px solid #A9DA50 !important;
}
ul.step li.step_current span::before {
  border-color: #A9DA50 #A9DA50 #A9DA50 transparent !important;
}

